<!--<div class="main-back">

	<a onclick="history.go(-1);return false;" href="#"><img width="15" height="15" alt="go" src="../img/btn_back.gif" border="0"> </a>
	<a onclick="history.go(-1);return false;" href="#">后退</a>

</div>-->

<div class="main-footer">
	<p>
		<a href="../home?c=aboutus"> 公司简介 </a>|
		<a href="../home?c=contact"> 联系我们 </a>|
		<a href="../home?c=map"> 地图导航 </a>
		<a>©2017 南京安法斯通讯技术有限公司 版权所有</a>
		<br /> 备案许可证：苏ICP备
		<a traget="blank" href="http://www.miitbeian.gov.cn">17000362</a>号
	</p>

</div>