<div id="main-header" class="main-header">
	<div class="main-header-logo">
		<img src="../img/logo.jpg" />
		<div class="language" id="language">
			<a href="../en">English</a>
		</div>
		<div class="main-header-search">
			<form action="search">
				<input type="text" name="kwd" value="" style="border: 0px;width: 85%;" />
				<input type="image" src="../img/search.png" />
			</form>
		</div>
	</div>
	<div class="main-slider">
		<div class="main-slider-info">
			<div class="main-slider-call">
				电话:86 25 52122735 传真:86 25 52122775
			</div>
		</div>
		<div class="main-slider-text">
			南京安法斯通讯技术有限公司供应高功率线缆负载、射频连接器、衰减器与负载、铁氧体环形器和隔离器，其中隔离器、环形器大规模应用于行业顶尖客户爱立信和诺基亚；固定衰减器、负载及精密转接器广泛应用于苹果、华为及其他著名行业客户的生产测试。
		</div>
	</div>
</div>
<!--导航开始-->
<div id="main-nav" class="main-nav">
	<ul id="main-menu" class="main-menu">
		<li style="width: 42px;">
			<a href="/">首页</a>
		</li>
		<li style="width: 68px;">
			<a>主要产品</a>
			<ul class="main-submenu">
				<li>
					<a href="../product/isolator">隔离器 & 环形器</a>
					<ul class="main-submenu2">
						<li>
							<a href="../product/isolator">嵌入式环形器、隔离器</a>
						</li>
						<li>
							<a href="../product/isolator">表面贴装式环形器、隔离器</a>
						</li>
						<li>
							<a href="../product/isolator">同轴环形器、隔离器</a>
						</li>
						<li>
							<a href="../product/isolator">波导环形器、隔离器</a>
						</li>
						<li>
							<a href="../product/isolator">电缆负载组件</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="../product/att_ada_ter">同轴衰减器、连接器与负载</a>
					<ul class="main-submenu2">
						<li>
							<a href="../product/attenuator">衰减器</a>
						</li>
						<li>
							<a href="../product/adapter">连接器</a>
						</li>
						<li>
							<a href="../product/termination">负载</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li style="width: 45px;">
			<a>信息</a>
			<ul class="main-submenu">
				<li>
					<a>产品新闻</a>
					<ul>
						<li>
							<a href="../information/newpro">新产品</a>
						</li>
						<li>
							<a href="../information/proupdate">产品更新</a>
						</li>
						<li>
							<a href="../information/faq">产品介绍</a>
						</li>
					</ul>
				</li>
				<li>
					<a>产品支持</a>
					<ul>
						<li>
							<a href="../information/cservice">客户服务</a>
						</li>
						<li>
							<a href="../information/manual">技术手册</a>
						</li>
						<li>
							<a href="../information/download">相关软件下载</a>
						</li>
						<li>
							<a href="../information/quality">质量体系</a>
						</li>
					</ul>
				</li>
				<li>
					<a>销售与订购</a>
					<ul>
						<li>
							<a href="../information/getquote">获取在线报价</a>
						</li>
						<li>
							<a href="../information/csurvey">客户调查</a>
						</li>
						<li>
							<a href="../information/representative">销售代表</a>
						</li>
						<li>
							<a href="../information/distributor">分销商</a>
						</li>
						<li>
							<a href="../information/reqcatalog">获取产品目录</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li style="width: 67px;">
			<a>关于我们</a>
			<ul class="main-submenu">
				<li>
					<a href="../home/aboutus">公司介绍</a>
				</li>
				<li>
					<a href="../home/capacity">公司实力</a>
				</li>
			</ul>
		</li>
		<li style="width: 45px;">
			<a href="../home/news">新闻</a>
		</li>
		<li style="width: 60px;">
			<a>联系我们</a>
			<ul class="main-submenu">
				<li>
					<a href="../home/contact">联系方式</a>
				</li>
				<li>
					<a href="../home/map">地图与向导</a>
				</li>
			</ul>
		</li>
	</ul>
</div>