<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			.products-list a {
				font-size: 13px;
			}
			
			.products-list img {
				width: 600px;
			}
		</style>

	</head>

	<body>
		<div class="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div id="main-body" class="main-body">
				<%-include('searchmode')%>
				<div class="products">
					<div class="products-nav">
						<a href="/" style="text-decoration: none;color: white;">主页</a>>
						<a>同轴衰减器、连接器与负载</a>
					</div>
					<div class="products-introduction">
						<br />
						<h1>同轴衰减器、连接器与负载</h1>
						<hr />
					</div>
				</div>
				<div id="products-list" class="products-list">
					<img src="../img/att_simu_termi/att_simu_termi.png" />
					<table>
						<tr>
							<td>
								<p>
									<a href="../product/attenuator">同轴固定衰减器</a>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<a href="../product/termination">负载</a>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<a href="../product/adapter">连接器</a>
								</p>
							</td>
						</tr>
					</table>

				</div>
				<%-include('../footer')%>
			</div>
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>