<div id="search-catalog" class="search-catalog">
					<table>
						<tr>
							<td>
								<h3>搜索产品目录</h3>
								<form action="../search">
								<p>							
									<select name="type">
										<option value="pnamekwd">按关键字</option>
									</select>
									<input type="text" name="kwd" />
									<input type="image" src="../img/go.gif" />								
								</p>
								<p>
									<input type="radio" value="all" name="range" /><span>在所有产品中搜素</span><input type="radio" name="range" value="one"/><span>在此类产品中搜索</span>
								</p>
								</form>
							</td>
							<!--<td class="search-cart" style="width: 30%;">
								<button>查看RFQs</button>
								<hr />
								<span> 报价请求</span>
								<a href="#" class="products-account">0 Item</a>
							</td>-->
						</tr>
					</table>
				</div>