<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			.main-body h1 {
				color: #00a8b4;
				font-size: 16px;
				font-weight: normal;
				padding: 5px 0px;
				margin-left: 10px;
				margin-right: 10px;
				border-bottom: 1px dotted #dddddd;
			}
			.main-container p{
	text-indent: 22px;
}
			.main-body p {
				font-size: 13px;
				line-height: 200%;
				padding: 10px;
			}
			
			.main-back {
				height: 15px;
				border-top: 1px #80a3bd dotted;
				text-align: right;
				margin: 15px 5px 10px 0;
			}
		</style>
	</head>

	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div id="main-body" class="main-body">
				<div>
					<h1>公司介绍</h1>
					<p>南京安法斯通讯技术有限公司的前身是美国美凯西 科技集团（MCETechnology Inc）以及艾法斯集团 （安法斯 Inc）在南京的全资子公司，公司名称先 后为“ 美凯西科技（南京）有限公司” 、 “ 艾法斯微电子 （南京）有限公司” 和“ 南京安法斯通讯技术有限公司” 。公司始建于2000年10月，当时作为南京代表 处的主要工作是管理本地供应商、外协加工商并销售 MCE/安法斯美国子公司的产品。在 2001年， 因业务扩展，总公司将在美国的子公司 KDI和在英 国的子公司 DML所多年发展的隔离器、环形器及其 组件等产品线整体迁移至南京公司并成立了南京分 公司，组建了包括研发部、生产部、质量部、销售部在内的完整的具有研发测试、生产、销售以及售 后技术支持等服务的企业，同时组建独立生产线为兄弟公司 Inmet ，Weinschel ，Metelics以及 KDI代工生产、测试其产品，使南京公司具备了依托高技术起点，领先、可靠的工艺生产供应多种微波射频 器件、组件的能力。艾法斯南京公司厂房占地 2000平米，位于南京江宁经济技术开发区，全面通过 ISO9001: 2000质量管理体系及 I SO14001环境管理体系</p>
					<p>艾法斯（南京）公司在中国的业务主要集中在三个领域：为我们北美和欧洲的客户提供在中国开展研发、制造服务；为我们在国内的多家 OEM厂商提供更好的本地化服务；为艾法斯集团内的兄弟公司代 工，提供有竞争力的产品。艾法斯南京公司供应高功率线缆负载、射频连接器、衰减器与负载、铁氧 体环形器和隔离器，其中隔离器、环形器已连续多年大规模应用于行业顶尖客户爱立信和诺基亚的基站设备及其子系统产品；固定衰减器、负载及精密转接器广泛应用于苹果、华为及其他著名行业领先客户的生产测试。</p>
					<p>2014年，全球著名防务公司英国科本公司（Cobham plc）全资收购了艾法斯集团，艾法斯南京公司 也成为其在中国境内唯一具有全业务能力的子公司。科本公司是是全球领先的技术和服务创新者，处 于市场领先地位的领域包括：无线、音频、视频和数据通信（包括卫星通信），国防电子，空中加油， 航空服务，生命支持和关键任务装备等。</p>
					<p>2015年 12月，为了更好、更迅速地服务南京公司客户，艾法斯微电子（南京）有限公司脱离科本公司运营并于 2016年 12月更名为“ 南京安法斯通讯技术有限公司” 。依托强大的企业文化、专业技术传 承，公司将一如既往地专注于微波射频器件的研发、生产，继续为全球客户提供可靠的、高质量的产品和服务。</p>

				</div>
			</div>
			<%-include('../footer')%>
		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
	</body>

</html>