<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			#main-body a {
				text-decoration: none;
				color: #06769b;
			}
			.main-container p{
	text-indent: 22px;
}
			#main-body a:hover {
				color: #ff7900;
			}
			
			.main-body-table {
				display: table;
				width: 100%;
			}
			
			.main-body-row {
				display: table-row;
				width: 100%;
			}
			
			.main-body-item {
				display: table-cell;
				position: relative;
			}
			
			.main-body-list {
				list-style-image: url(../img/postexpand.png);
			}
			
			.main-body-list ul {
				list-style-image: url(../img/postbullets.png);
			}
			
			.main-body-item h1 {
				color: #00a8b4;
				font-size: 16px;
				font-weight: normal;
				padding: 5px 0px;
				margin-left: 10px;
				margin-right: 10px;
				border-bottom: 1px dotted #dddddd;
			}
			
			#main-solution {
				width: 70%;
				font-size: 13px;
				line-height: 200%;
				padding: 10px;
			}
			
			#main-solution h2 {
				color: #3075dc;
				text-indent: 12px;
				font-weight: normal;
			}
			
			#main-products {
				width: 30%;
				line-height: 200%;
				border-left: 1px dotted #80a3bd;
			}
			
			.main-back {
				height: 15px;
				border-top: 1px #80a3bd dotted;
				text-align: right;
				margin: 15px 5px 10px 0;
			}
		</style>
	</head>

	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div id="main-body" class="main-body">
				<div class="main-body-table">
					<div class="main-body-row">
						<div id="main-solution" class="main-body-item">
							<h1>公司实力</h1>
							<p>南京安法斯通讯技术有限公司专注于微波射频器件、组件和子系统的研发、 制造与测试。我们强调创新型的解决方案产品，以客户为中心，提供灵活、创新、低成本的产品。</p>
							<h2>我们能为您做什么</h2>
							<ul>
								<li>按您的规范设计产品</li>
								<li>按您的设计制造产品</li>
								<li>为您再设计、制造产品</li>
								<li>宽频率范围的标准设计</li>
							</ul>
							<h2>我们的产品特性</h2>
							<ul>
								<li>低驻波</li>
								<li>低插损</li>
								<li>低互调失真</li>
								<li>高隔离度</li>
								<li>小尺寸</li>
							</ul>
						</div>
						<div id="main-products" class="main-body-item">
							<h1>公司产品</h1>
							<ul id="main-products-list" class="main-body-list">

								<li>
									<a href="../product/isolator">隔离器 & 环形器</a>:我们提供各种隔离器和环形器供您选择，如嵌入式、表面贴装式、同轴、波导等，产品的频率范围从数百兆赫兹到数十吉赫兹。
									<ul>
										<li>
											<a href="../product/isolator">嵌入式环形器、隔离器</a>
										</li>
										<li>
											<a href="../product/isolator">表面贴装式环形器、隔离器</a>
										</li>
										<li>
											<a href="../product/isolator">同轴环形器、隔离器</a>
										</li>
										<li>
											<a href="../product/isolator">波导环形器、隔离器</a>
										</li>
										<li>
											<a href="../product/isolator">电缆负载组件</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="../product/att_ada_ter">同轴衰减器，连接器与负载</a>:我们向您提供各种系列的有质量保证的衰减器、连接器以及负载，如SMA系列、TNC系列等。
									<ul>
										<li>
											<a href="../product/attenuator">衰减器</a>
										</li>
										<li>
											<a href="../product/adapter">连接器</a>
										</li>
										<li>
											<a href="../product/termination">负载</a>
										</li>
									</ul>
								</li>
							</ul>

						</div>

					</div>
				</div>

			</div>
			<%-include('../footer')%>
		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
	</body>

</html>