<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			.main-body h1 {
				color: #00a8b4;
				font-size: 16px;
				font-weight: normal;
				padding: 5px 0px;
				margin-left: 10px;
				margin-right: 10px;
				border-bottom: 1px dotted #dddddd;
			}
			
			.main-body p {
				font-size: 14px;
				line-height: 200%;
				padding: 10px;
			}
			
			.main-back {
				height: 15px;
				border-top: 1px #80a3bd dotted;
				text-align: right;
				margin: 15px 5px 10px 0;
			}
		</style>
	</head>

	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div id="main-body" class="main-body">
				<div>
					<h1>联系方式</h1>
					<img src="../img/contact.png" style="float: right;" width="150"/>
					<p>地址：南京江宁经济技术开发区双龙大道 1706号
						<br />邮编：211100 中国南京
						<br />电话：86 25 52122735
						<br />传真：86 25 52122775
						<br />邮箱：sales@amphars.com
					</p>
				</div>
			</div>
			<%-include('../footer')%>
		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
	</body>

</html>