<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/information.css" />
		<style>
		    .body-title{
		    	border-bottom: 1px dotted #80a3bd;
		    }
		    .body-title h1{
				color: #00a8b4;
				font-size: 16px;
				font-weight: normal;
				margin-left: 10px;
			}
			.main-body-table {
				display: table;
				box-sizing: border-box;
				width: 100%;
			}
			
			.main-body-row {
				display: table-row;
				box-sizing: border-box;
				width: 100%;
			}
			
			#main-body-left {
				width: 30%;
			}
			
			#main-body-middle {
				width: 40%;
				display: table-cell;
				border-left: 1px dotted #80a3bd;
				border-right: 1px dotted #80a3bd;
			}
			
			#main-body-right {
				padding-left: 5px;
			}
			
			.main-body-item {
				display: table-cell;
			}
			p{
				line-height: 150%;
				font-size: 11px;
			}
			.main-back {
				height: 15px;
				border-top: 1px #80a3bd dotted;
				text-align: right;
				margin: 15px 5px 10px 0;
			}
			.model {
				margin-left: 10px;
			}
			
			h2 {
				font-size: 12px;
				color: #00A8B4;
				margin-left: 15px;
				font-weight: normal;
			}
		</style>
	</head>

	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div class="main-body" id="main-body">
				<div class="body-title">
					<h1>软件下载及更新</h1></div>
				<div class="main-body-table">
					<div class="main-body-table-row">
						<div id="main-body-left" class="main-body-item" style="border: none;">
							
							<h2>Control Center Software(Model 8320,8321 & 8331Series)</h2>
							<p>暂无</p>
						</div>
						<div id="main-body-middle" class="main-body-item">
							<h2>USB 衰减器控制软件(Model 4205 Series)</h2>
							<p>暂无</p>
						</div>
						<div id="main-body-right" class="main-body-item">
							<h2>USB 驱动</br>(Model 4205,8320,8321 & 8331 Series)</h2>
						    <p>暂无</p>
						</div>
					</div>
				</div>
			</div>

			<%-include('../footer')%>
		</div>
			<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
			<script type="text/javascript" src="../js/header.js"></script>
			<script type="text/javascript">
			</script>
	</body>

</html>