<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			.main-body h1 {
				color: #00a8b4;
				font-size: 16px;
				font-weight: normal;
				padding: 5px 0px;
				margin-left: 10px;
				margin-right: 10px;
				border-bottom: 1px dotted #dddddd;
			}
			.main-container p{
	text-indent: 22px;
}
			.main-body {
				font-size: 12px;
				line-height: 200%;
			}
			
			.main-body p {
				padding: 0px 10px;
			}
			
			.main-body h4 {
				text-indent: 13px;
				color: #2FC3A3;
			}
			
			.main-back {
				height: 15px;
				border-top: 1px #80a3bd dotted;
				text-align: right;
				margin: 15px 5px 10px 0;
			}
		</style>
	</head>

	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div id="main-body" class="main-body">
				<div>
					<h1>产品介绍...</h1>
					<h4>何为固定式同轴衰减器？</h4>
					<p>射频衰减器是一种无源器件，其基本作用是降低射频信号幅度，这一点与放大器恰好相反。放大器为微弱 的信号提供增益，衰减器则是信号衰减或者说增益小于 1。例如在接收机前加入一个衰减器，可以避免过大的信 号功率损坏前级电路；又比如它可以改善阻抗匹配，若某些应用要求有一个比较稳定的负载阻抗时，则可在电路 与实际负载阻抗之间插入一个衰减器，能够缓冲阻抗的变化。 </p>
					<ul>
						<li><span>分类</span><br/> 根据性能、所使用的技术的不同，分为固定式、 连续可变式、直流偏置式和步进式射频衰减器。实现 方式的不同，也可分为电阻式射频衰减器, PI N二极管射频衰减器 , FET射频衰减器。 固定衰减器的衰减值是固定的，可分为片状、同轴和波导衰减器。
						</li>
						<li><span>主要指标</span>
							<ol>
								<li>衰减量：用于描述传输过程中从衰减器的一端到另一端的信号减少的量值，即 S21参数，可用倍 数或分贝数来表达。 </li>
								<li>衰减量的偏差：在 25ºC，输入功率 10mW时测得的插入损耗和标称值的偏差。 </li>
								<li>衰减量的频率响应: 在 25º C时，整个频率范围内衰减量的变化量( dB) ，也就称为衰减量的平坦度。 频率响应是衰减器的重要指标，如在放大器或发射机的谐波测量中，衰减器的频率响应指标将会 影响到谐波测量的相对值误差。 </li>
								<li>VSWR：即 S11/ S22参数，等于特性阻抗与衰减器的输入/ 输出阻抗的比值。对于微波/ 射频路由 器件，如电缆和转接器，其输入阻抗和输出阻抗几乎相等，而衰减器则不同，这是由于其存在衰 减特性的缘故。衰减器的这种特性可被用于射频系统中的阻抗匹配。 </li>
								<li>特性阻抗: 在射频电路中，电阻、电容、电感都会阻碍交变电流的流动，合称阻抗；同轴线是 50 或 75欧姆。 </li>
								<li>功率系数：为了降低信号幅度，射频衰减器会消耗或吸收多余的功率。当输入功率从事 10mW变化到额定功率时，衰减量的变化系数，表示为 dB/(dB·W) 。衰减量的变化值的具体计算方式是将功率系数乘以总衰减量 dB和功率 W。通常用 watts或 dBW来表示。</li>
								<li>材质与机械性能： 提供了产品外形尺寸、接头类型、材质等信息。 </li>
							</ol>
						</li>
						<li><span>衰减器的应用 </span><br/> 衰减器的典型应用有以下三大类：
							<ol>
								<li>降低信号或功率电平 </li>
								<li>改善源和负载之间的阻抗匹配 </li>
								<li>用替代法测量增益或损耗 </li>
							</ol>
							<span>改善信号发生器或频谱分析仪的失配损耗</span><br/>如果负载和信号发生器之间的阻抗不匹配，就会产生失配误差，在任何射频和微波系统中，最大功率传输的条件是阻抗匹配，但实际上，无论是信号发生器还是负载，连接电缆或是其他器件都存在失配问题。利用衰减器的匹配特性一，可以在很大程度上改善系统的失配。 <br />
							<span>改善网络分析仪的插入损耗测量精度 </span><br />在用网络分析仪测量无源器件的插入损耗时，在通路上插入固定衰减器可以提高测量精度。通过观察测 量结果可以发现，当不加衰减器时，DUT的插入损耗曲线存在波动；而加入衰减器后，曲线变得平滑了， 这是因为由于衰减器的存在，改善了测试通路的失配损耗。 <br />
							<span>衰减器在大功率测试中的应用 </span><br />在大功率测试和测量中，将大功率信号降低到频谱分析仪或者终端功率计适应的电平，这可能是射频衰 减器最为广泛的应用了。

						</li>
					</ul>

					<h4>负载</h4>
					<p>负载是一种单端口无源器件，当功率输入到负载时，被传输末端的一端有耗传输线吸收。负载必须是纯阻 性的，不能存在电抗分量。负载通常也被称为匹配负载，因为不论传输线的特性阻抗如何，其功率大部分被负载吸收，而反射则很小。</p>
					<ul>
						<li><span>负载的主要指标</span><br/> VSWR：S 11参数，等于特性阻抗与负载的输入阻抗的比值。与衰减器相比，负载有着更好的 VSWR表现。<br/> 平均功率容量：当环境温度为 25º C时，可长期加到负载输入端的最大平均功率；当工作温度升至 125º C 时，允许的输入功率降到额定功率的 10%，负载的其它指标不应该发生变化。
						</li>
						<li><span>负载的分类 </span><br /> 匹配负载：除非特别说明，通常所说的负载均指匹配负载。匹配负载的功率可从 0. 5W到 80kW或更大，从 冷却方式，可分为自然冷却、油冷、风冷和水冷。 <br /> 失配负载：是相对于匹配负载而言的，失配负载是为特种场合应用而设计的，如放大器的输出 VSWR保护设置等。失配负载的 VSWR并不是按照 1来设计的，而是根据要求来设计，如 1.5,2.0,3.0等。

						</li>
					</ul>
					<h4>射频同轴连接器 </h4>
					<p>从结构上，同轴连接器可以分为有极性、无极性和反极性三大类。 </p>
					<ol>
						<li>绝对大多数同轴连接器都是有极性的，有极性连接器总是由完全匹配的一对插头和插座组成。 </li>
						<li>无级性连接器的典型产品是 7mm连接器，又称 APC7或者“ 平接头” ，这种连接器没有插头和插座之分， 其外导体靠螺纹配合，即可定义为插头，也可定义为插座。</li>
						<li>还有类叫反极性连接器，其内导体的属性与我们常规思维风好相反，即定义为插头的一端呈孔状，而 定义为插座的端呈针状。 </li>
					</ol>
					<p>从插头和插座外导体的配合方式看，同轴连接器又可分为螺纹式、卡口式和推入式。 </p>
					<ol>
						<li>应为最为广泛的是螺纹式配合的连接器，如常见的 N和 SMA</li>
						<li>卡口式的典型代表是 BNC，这类连接器通常只能用于低频段。</li>
						<li>推入式又称为“ 盲插头” ，适用于狭小的空间或者设备架上，如 OSP。</li>
					</ol>
				</div>
			</div>
			<%-include('../footer')%>
		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
	</body>

</html>