<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/information.css" />
		<style type="text/css">
			.main-body {
				width: 100%;
				height: auto;
				box-sizing: border-box;
			}
			
			.main-body-table {
				display: table;
				width: 100%;
			}
			
			.main-body-row {
				display: table-row;
				width: 100%;
			}
			
			#main-body-left {
				width: 70%;
				border-right: 1px dotted #80a3bd;
				box-sizing: border-box;
				left: 0px;
			}
			
			#main-body-right {
				width: 30%;
				box-sizing: border-box;
			}
			
			.main-body-item {
				display: table-cell;
			}
			
			#main-body-left a {
				color: #00A8B4;
				font-size: 12px;
				line-height: 20px;
				margin: 20px 40px;
			}
			
			#main-body-right h1 {
				color: #00a8b4;
				font-size: 14px;
				font-weight: normal;
				padding-top: 10px;
			}
			
			.cover {
				/*	position:relative;*/
				left: 26%;
			}
			
			.main-body th {
				font-weight: normal;
				font-size: 12px;
			}
			
			.table {
				border-collapse: collapse;
				position: relative;
				left: 2%;
				right: 4%;
				width: 80%;
				text-align: center;
				margin: 20px 10px 10px 10px;
			}
			
			.tablename {
				background: -moz-linear-gradient(top, #B3D9D9 0%, #FFFFFF 40%, #FFFFFF 60%, #B3D9D9 100%);
				background: -webkit-gradient(top, #B3D9D9 0%, #FFFFFF 40%, #FFFFFF 60%, #B3D9D9 100%);
				background: -ms-linear-gradient(top, #B3D9D9 0%, #FFFFFF 40%, #FFFFFF 60%, #B3D9D9 100%);
				background: -o-linear-grandient(top, #B3D9D9 0%, #FFFFFF 40%, #FFFFFF 60%, #B3D9D9 100%);
				height: 30px;
				margin: 0px 10px;
			}
			
			th {
				border: 1px solid #8996A0;
			}
			
			td {
				border: 1px solid #8996A0;
				margin: 0px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.main-back {
				height: 15px;
				border-top: 1px #80a3bd dotted;
				text-align: right;
				margin: 15px 5px 10px 0;
			}
			
			.main-body-item ul {
				list-style-image: url(../img/postbullets.png);
				line-height: 200%;
			}
			
			.main-body-item a {
				text-decoration: none;
			}
		</style>
	</head>

	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div class="main-body" id="main-body">
				<div class="main-body-table">
					<div class="main-body-row">
						<div id="main-body-left" class="main-body-item">
							<div class="main-body-left-item">
								<h1>以性能为驱动的创新性设计方案</h1>
								<p style="padding-left: 10px;">这是各种新产品、组件的类型。</p>
								<a href="../products/isolators_circulators.html">• 嵌入式环形器及隔离器</a>
								</br>
								<a href="../products/isolators_circulators.html">• 表面贴装式嵌入式环形器及隔离器</a>
								</br>
								<a href="../products/isolators_circulators.html">• 同轴系列环形器及隔离器</a>
								</br>
								<a href="../products/isolators_circulators.html">• 波导系列嵌入式环形器及隔离器</a>
								</br>
								<a href="../products/isolators_circulators.html">• 电缆负载组件</a>
								</br>
								<a href="../products/termination.html">• 连接器与负载</a>
								</br>
								<a href="../products/fixedattenuator.html">• 高性能固定衰减器</a>
								</br>
								<a href="../products/fixedattenuator.html">• 高性能连接器</a>
								</br>
							</div>
							<div class="main-body-left-table">
								<table class="table">
									<tr>
										<th class="tablename" colspan="8" rowspan="1">嵌入式环形器及隔离器</th>
									</tr>
									<tr style="background: #ECF5FF">
										<th>频率</th>
										<th>反向隔离</th>
										<th>正向损耗</th>
										<th>驻波比</th>
										<th>正反向功率</th>
										<th>互调失真</th>
										<th>工作温度</th>
										<th>下载</th>
									</tr>
									<tr style="background: #ECF5FF">
										<th>(MHz)</th>
										<th>(dB)min</th>
										<th>(dB)max</th>
										<th></th>
										<th>(W)</th>
										<th>(dBC)max</th>
										<th>(℃)</th>
										<th></th>
									</tr>
									<tr>
										<td>
											<a>350-400</a>
										</td>
										<td>20</td>
										<td>0.3</td>
										<td>1.21</td>
										<td>100/100</td>
										<td>--</td>
										<td>-20 to +65</td>
										<td colspan="1" rowspan="3">
											<a href="../data/ISOSHORTCH201703.pdf"><img src="../img/information/Page40pdf.png"></a>
										</td>
									</tr>
									<tr>
										<td>
											<a>1805-1880</a>
										</td>
										<td>22</td>
										<td>0.30</td>
										<td>1.2</td>
										<td>70/70</td>
										<td>-86 @30W/3W</td>
										<td>0 to +85</td>
									</tr>
									<tr>
										<td>
											<a>3400-3600</a>
										</td>
										<td>25</td>
										<td>0.25</td>
										<td>1.20</td>
										<td>20/20</td>
										<td>-70 @2*20W </td>
										<td>-40 to +85</td>
									</tr>
								</table>
								<table class="table">
									<tr>
										<th class="tablename" colspan="6" rowspan="1"> Fixed Attenuators</th>
									</tr>
									<tr style="background: #ECF5FF">
										<th>型号</th>
										<th>频率(GHz)</th>
										<th>连接器</th>
										<th>驻波</th>
										<th>衰减值(dB)</th>
										<th>下载</th>
									</tr>
									<tr>
										<td>
											<a>ATT03SMA</a>
										</td>
										<td>3</td>
										<td>SMA-M/F</td>
										<td>1.20:1</td>
										<td>1-10,12,15,20,30 </td>
										<td colspan="1" rowspan="3">
											<a href="../data/attenshortCH201703.pdf"><img src="../img/information/Page40pdf.png"></a>
										</td>
									</tr>
									<tr>
										<td>
											<a>ATT18TNC50W</a>
										</td>
										<td>18</td>
										<td>N-M/F, M/M, F/F </td>
										<td>1.45:1 </td>
										<td>0,3,6,10,20,30,40 </td>
									</tr>
									<tr>
										<td>
											<a>ATT04TNC300W</a>
										</td>
										<td>2.5</td>
										<td>SMA-M/F, M/M, F/F</td>
										<td>1.25:1</td>
										<td>3,6,10,20,30,40 </td>
									</tr>
								</table>
								<table class="table">
									<tr>
										<th class="tablename" colspan="6" rowspan="1">SMA Between Series Adapters</th>
									</tr>
									<tr style="background: #ECF5FF">
										<th>连接器</th>
										<th>连接器</th>
										<th>频率(GHz)</th>
										<th>驻波</th>
										<th>描述</th>
										<th>下载</th>
									</tr>
									<tr>
										<td>
											<a>SMA-M</a>
										</td>
										<td>N-M</td>
										<td>6</td>
										<td>1.30:1</td>
										<td>经济型（黄铜壳体） </td>
										<td colspan="1" rowspan="3">
											<a href="../data/attenshortCH201703.pdf"><img src="../img/information/Page40pdf.png"></a>
										</td>
									</tr>
									<tr>
										<td>
											<a>SMA-F</a>
										</td>
										<td>N-F</td>
										<td>18</td>
										<td>1.25:1</td>
										<td>紧凑型 </td>
									</tr>
									<tr>
										<td>
											<a>SMA-M</a>
										</td>
										<td>N-F w/ O-Ring Seal</td>
										<td>18</td>
										<td>1.20:1</td>
										<td>直馈式 </td>
									</tr>
								</table>
							</div>
						</div>
						<div id="main-body-right" class="main-body-item">
							<%-include('./right')%>
						</div>
					</div>
				</div>

			</div>

			<%-include('../footer')%>
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>