<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/information.css" />
		<style type="text/css">
			.main-body-table {
				display: table;
				box-sizing: border-box;
				width: 100%;
			}
			
			.main-body-row {
				display: table-row;
				box-sizing: border-box;
				width: 100%;
			}
			.main-body-item{
				box-sizing: border-box;
				display: table-cell;
			}
			#main-body-left{
				width: 70%;
				border-right: 1px dotted #80a3bd;;
			}
			#main-body-right{
				width: 30%;
			}
			.cover{
				position:relative;
				left: 26%;
			}
			.main-back{
				height: 15px;
				border-top: 1px #80a3bd dotted;
				text-align: right;
				margin: 15px 5px 10px 0;
			}
			.main-body-item ul {
				list-style-image: url(../img/postbullets.png);
				line-height: 200%;
			}
			.main-body-item a {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div class="main-body" id="main-body">
				<div class="main-body-table">
					<div class="main-body-table-row">
						<div id="main-body-left" class="main-body-item">
							<h1>产品更新信息</h1>
							<p>暂无</p>
						</div>
						<div id="main-body-right" class="main-body-item">
							
							<%-include('./right')%>

						</div>
					</div>
				</div>
			</div>
				
			<%-include('../footer')%>
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>
